html, body {
	height: 100%;
	margin: 0;
	padding: 0;	
}

html	{font-size: 5vw;} 
body	{font-size: 1rem; } 
h1  	{font-size: 4rem; } 
h2		{font-size: 2.5rem;}
h3   	{font-size: 2rem; } 

h1, h3{
	padding: 0;
	margin: 0;
	font-family: 'Bevan';	
	font-weight: 400; 
	text-align: center;
}

.miniText{
	font-family: 'Ubuntu Mono', sans-serif;
	font-size: smaller;
	padding: 0;
	margin: 0;
	
}

body{
	background-color: #46494f;
	color: #fee895;
	width: 100%;
    font-family: 'Bevan';	
}

.inputBtn{
    background-color: #fafafa;
    min-width: 30%;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 0.8rem; 
    color: #090501;
    text-align: center;
    box-shadow: 0px 5px 0px grey;
}

.selected{
    background-color: YellowGreen;
    box-shadow: inset 0px 5px 0px 0px OliveDrab;
}

.faultyChoice{
    /*
    background-color: #ff1d00;
    box-shadow: 0px 5px 0px gold;
    */
    -webkit-animation: errorFlash .5s; /* Safari 4+ */
  -moz-animation:    errorFlash .5s; /* Fx 5+ */
  -o-animation:      errorFlash .5s; /* Opera 12+ */
  animation:         errorFlash .5s; /* IE 10+, Fx 29+ */
}

.output{
	font-size: 3rem;
	text-align: center;
	font-weight: 800;
	font-family: 'Ubuntu Mono', sans-serif;

}


.wrapper{
	height: 100%;
}

.lazyhide{
    display: none;
}


@-webkit-keyframes errorFlash {
  0%   { 
      background-color: #ff1d00;
      box-shadow: 0px 5px 0px gold;
  }
  100% { 
      background-color: #fafafa;
      box-shadow: 0px 5px 0px grey;
  }
}
@-moz-keyframes errorFlash {
  0%   { 
      background-color: #ff1d00;
      box-shadow: 0px 5px 0px gold;
  }
  100% { 
      background-color: #fafafa;
      box-shadow: 0px 5px 0px grey;
  }
}
@-o-keyframes errorFlash {
  0%   { 
      background-color: #ff1d00;
      box-shadow: 0px 5px 0px gold;
  }
  100% { 
      background-color: #fafafa;
      box-shadow: 0px 5px 0px grey;
  }
}
@keyframes errorFlash {
  0%   { 
      background-color: #ff1d00;
      box-shadow: 0px 5px 0px gold;
  }
  100% { 
      background-color: #fafafa;
      box-shadow: 0px 5px 0px grey;
  }
}